@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Estadisticas</h2>
<ul>

    <li><a class="nav-link text-dark" asp-area="" asp-controller="BuscarPeriodista" asp-action="GetBuscarPeriodistaPorEmail">Listar partidos con reseña y roja</a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Listados" asp-action="ListarPartidoConMasGoles">Listar seleccion con mas goles</a></li>
</ul>